div {
    margin-bottom: .5em;
}

.page {
    page-break-after: always;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 8.5in;
}

.container-center {
    margin: auto;
    text-align: center;
    max-width: 8.5in;
}

.spacer {
    height: 3rem;
}

.content-button:hover {
    color: steelblue;
    cursor: pointer;
}

.double {
    height: 6rem;
}

.toc {
    margin: auto;
    justify-content: center;
}

.toc > .row {
    width: 40%;
}

th, td {
    padding: 15px;
}

#back-top {
    position: fixed;
    bottom: 30px;
    margin-right: 150px;
}

@media only screen and (max-width: 768px) {
    div {
        width:100%;
    }

    .toc > .row {
        width: 100%;
    }
}