div {
    margin-bottom: .5em;
}

h {
    align-content: center;
    margin: auto;
}

image {
    width: 100%;
}

.page {
    page-break-after: always;
}

.container {
    margin: auto;
    max-width: 750px;
}

.container-center {
    margin: auto;
    text-align: center;
    max-width: 800px;
}

.spacer {
    height: 3em;
}

.double {
    line-height: 2em;
}

.section {
    align-content: center
}

.toc {
    text-align: justify;
    margin: auto auto auto 35%;
}

th, td {
    padding: 15px;
}

@media only screen and (max-width 768px) {
    div {
        width:100%;
    }
}