div {
    margin-bottom: .5em;
}

.page {
    page-break-after: always;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 8.5in;
}

.container-center {
    margin: auto;
    text-align: center;
}

.spacer {
    height: 3rem;
}

.content-button {
    color: steelblue;
}

.content-button:hover {
    color: blue;
    cursor: pointer;
    transform: scale(1.05);
}

.double {
    height: 6rem;
}

img {
    display: block;
}

.toc {
    margin: auto;
    justify-content: center;
}

.toc > .row {
    width: 40%;
}

th, td {
    padding: 15px;
}

hr { 
    display: block;
    width: 40%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

section {
    margin-bottom: 1.5em;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 5%;
    right: 5%;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    color: #000;
}

@media only screen and (max-width: 768px) {
    div {
        width:100%;
    }

    .toc > .row {
        width: 100%;
    }
}

@media only print {
    html {
        font-size: 16pt;
    }

    hr {
        display: none;
    }

}